<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ai.babel" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:name=".AVService"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label=""
            android:theme="@style/MainAtyTheme" >
        </activity>
        <activity
            android:name=".ui.BaseActivity"
            android:label="@string/app_name_main" >
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label=""
            android:theme="@style/SearchTheme" >
        </activity>
        <activity
            android:name=".ui.InitActivity"
            android:label="@string/app_name_main"
            android:theme="@style/InterTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".ui.AddNewPost"
            android:label="@string/title_activity_add_new_post" >
        </activity>
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.AddNewBook"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ui.PageActivity"
            android:label="@string/title_activity_detail" >
        </activity>

    </application>

</manifest>
